<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>


        {% block stylesheets %}

            <link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <p id="logo"> MY CMS</p>
                <div id="nav">
                    <p>app\Resources\views\default\base.html.twig </p>
                    {#<a href="base.html.twig"> home </a>#}
                    <a href="{{  path('\cms_homepage') }}"> Home</a>

                </div>
            </div>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            </div>
    </body>
</html>
