{%  extends '::base.html.twig' %}

{% block body %}
    <p>Custom CMS Home Page</p>
    {#<a href="{{  path ('\subpage') }}"> podstrona </a><br>#}
zawartość src\CmsLabBundle\Resources\views\Default\index.html.twig
{% endblock %}
